// Path for asset 

$assetsLayer: '../assets/layers/';
$assetsLayerRetina: '../assets/layers-retina/';


//colors 

$pale-sky: #fedcc8;
$dark-sky: #e56820;
$ground-dirt: #2d122b;

// Gradient Colors

$dark-purple: #1b2947;
$purple: #75517d;
$pink: #e96f92;
$yellow: #f7f7b6;

// Gradient Colors opacity

$op-dark-purple: rgba(	27, 41, 71,.5);
$op-purple: rgba(	117, 81, 125, .5);
$op-pink: rgba(	233, 111, 146,.5);
$op-yellow: rgba(	247, 247, 182, .5);
